.places h1 {
    font-size: 30px;
    padding-left: 20px;
    flex: 100%;
}

.places h2 {
    font-size: 30px;
    position: relative;
    text-align: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.places {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.places price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.places max_guest {
    width: 100px;
}

.places number_rooms {
    width: 100px;
}

.places number_bathrooms {
    width: 100px;
}